
<ul id="thumbs">
    @foreach (var b in ViewBag.MediaFiles)
    {
        switch ((String)b.TypeMime.Split('/')[0])
        {
            case "video":
                {
                            <!-- Item Project and Filter Name -->
    <li class="item-thumbs span3 video draggable" time-start="" time-end="">
        <!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
        <a class="hover-wrap fancybox-media" data-fancybox-group="video" title="@b.Name" href="~/@b.Path">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb font-icon-plus"></span>
        </a>
        <!-- Thumb Image and Description -->
        <video controls preload="metadata" width=270 height=189>
            <source src="@b.Path" type="@b.TypeMime" />
            Your browser does not support the video tag.
        </video>
        @* <img src="~/Images/img/work/thumbs/image-08.jpg" alt="Video">*@
    </li>
                            <!-- End Item Project -->
                    break;
                }
            case "image":
                {
                            <!-- Item Project and Filter Name -->
    <li class="item-thumbs span3 photography draggable" time-start="" time-end="">
        <!-- Fancybox - Gallery Enabled - Title - Full Image -->
        <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="@b.Name" href="~/@b.Path">
            <span class="overlay-img"></span>
            <span class="overlay-img-thumb font-icon-plus"></span>
        </a>
        <!-- Thumb Image and Description -->
        <img src="~/@b.Path" alt="">
    </li>
                            <!-- End Item Project -->
                    break;
                }
            case "audio":
                {
                            <!-- Item Project and Filter Name -->
    <li class="item-thumbs span3 design draggable" time-start="" time-end="">
        <!-- Fancybox - Gallery Enabled - Title - Full Image -->
        <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="@b.Name" href="~/@b.Path">
            @*<span class="overlay-img"></span>*@
            @* <span class="overlay-img-thumb font-icon-plus"></span>*@
            @b.Name
            <span class="time-counter"></span>
        </a>
        <!-- Thumb Image and Description -->
        @*<a href="~/@b.Path">@b.Name</a>*@
        <img src="~/Images/img/work/thumbs/image-02.jpg" title="@b.Name">
        <audio controls preload="metadata" style="width: 270px">
            <source src="@b.Path" type="@b.TypeMime" />
        </audio>
    </li>
                            <!-- End Item Project -->
                    break;
                }
        }
    }
</ul>